<div class='container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center'
    style="background: #1a237e;
    background: -webkit-linear-gradient(to bottom, #304ffe, #1a237e);
    background: linear-gradient(to bottom, #304ffe, #1a237e);"
    >
    <h1 class='text-center text-white py-2'>Chat de mensajes</h1>
    <div class='bg-dark p-4 text-white rounded-2' style="box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);">
        <div>
            <span id='user'></span>
            <input type='text' id='chatBox' style="border-radius: 10px; width: 100%; color: #1a237e;"/>
        
      
</div>
        <div id='messagesLogs'></div>
    </div>

</
</div>